<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Article Page</title>
</head>
<body>
    <header id="header"></header>

    <main>
        <header>
            <h1>The first article</h1>
        </header>
        <aside>
            <p>Seongha</p>
            <p><a href="mailto:sseongha00@gmail.com">sseongha00@gmail.com</a></p>
            <p><time datetime="01-Jan-2023T00:00:00">01-Jan-2023</time></p>
            <p>#java</p>
        </aside>

        <section>
            <p>Body<br><br></p>

            <div>
                <form>
                    <label for="articleComment" hidden>Comments</label>
                    <textarea id="articleComment" placeholder="Create comments..." rows="3"></textarea>
                    <button type="submit">Create</button>
                </form>

                <ul>
                    <li>
                        <div>
                            <time><small>01-Jan-2023</small></time>
                            <strong>Seongha</strong>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                                Lorem ipsum dolor sit amet
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <time><small>01-Jan-2023</small></time>
                            <strong>Seongha</strong>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                                Lorem ipsum dolor sit amet
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

            <nav>
                <a href="#">Pre</a>
                <a href="#">Next</a>
            </nav>
        </section>

    </main>

    <footer id="footer"></footer>
</body>
</html>